{% extends 'main/layoutg.html' %}

{% block title %}Про нас{% endblock %}


{% block content %}
<div class="features">
 <h1>ПРО НАС</h1>
 <p>Ресторан «BellaPasta » является частью уникальной семьи ресторанной группы GourmetAlliance. Идея создания ресторана заключается в том, чтобы показать – качественная и вкусная кухня, приятная обстановка не обязательно должны сопровождаться высокими ценами за сервис. Это ресторан итальянской кухни, с доступными ценами, который порадует безупречным качеством блюд, отличным обслуживанием, а также располагающим к отдыху и общению интерьером.

«BellaPasta » - это особый мир со своим очарованием и колоритом. Попадая сюда, вы будто переноситесь из суетливой и шумной Москвы в неспешную и изысканную Италию.</p>
 <form action="{% url 'create' %}">

   <button class="btn bg-danger">Забронировать стол</button>
 </form>

</div>
{% endblock %}